/**
 * Created by sunchengbin on 17/20/10.
 * 项目中通用的样式
 */
body, button, input, select,option,td, textarea /* for ie */ {
  font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.fl{
  float:left;
}
.fr{
  float:right;
}
.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
